<p-menubar [model]="items" styleClass="border-noround border-x-none border-top-none px-4">
    <ng-template #start>
        <span class="font-bold text-lg mr-4 text-primary">Cermafi</span>
    </ng-template>
    <ng-template #end>
        <div class="flex flex-row align-items-center gap-3">
            @if (isLoggedIn$ | async) {
            <p-menu #adminMenu [model]="adminItems" [popup]="true" appendTo="body"></p-menu>
            <button 
                class="admin-link" 
                (click)="adminMenu.toggle($event)">
                <i class="pi pi-shield"></i>
                <span>Admin</span>
                <i class="pi pi-angle-down" style="font-size: 0.75rem;"></i>  
            </button>
            }
            <app-dark-mode-toggle></app-dark-mode-toggle>
        </div>
    </ng-template>
</p-menubar>