.region-path {
  fill: var(--p-primary-100); /* Světlá barva z PrimeNG tématu */
  stroke: var(--p-primary-500); /* Okraje */
  stroke-width: 2;
  transition: all 0.3s;
  cursor: pointer;
}

.region-path:hover {
  fill: var(--p-primary-500); /* Zvýraznění při najetí */
  transform: translateY(-2px);
}