body {
  margin: 0;
  background-color: var(--p-content-background);
  color: var(--p-text-color);
  font-family: var(--p-font-family);
}

h1, h2, h3 {
  color: var(--p-text-color);
}

footer {
  background-color: var(--p-surface-900); 
  padding: 3rem 1rem;
  margin-top: 4rem;
}